<header class="c-post__header">
	{% for authorId in include.post.authors %}
	<img alt="" class="c-post__author-image" src="/images/medarbetare/{{ authorId }}-mini.png"
			srcset="/images/medarbetare/{{ authorId }}-mini@2x.png 2x">
	{% endfor %}
	{% if include.link %}
	<h2><a href="{{ include.post.url }}">{{ include.post.heading }}</a></h2>
	{% else %}
	<h2>{{ include.post.heading }}</h2>
	{% endif %}
	<div>
		<time class="c-post__time" datetime="{{ include.post.date | date_to_xmlschema }}">
			{{ include.post.date | date: "%-d M%m %Y" | replace: 'M01', 'januari' | replace: 'M02', 'februari' | replace: 'M03', 'mars' | replace: 'M04', 'april' | replace: 'M05', 'maj' | replace: 'M06', 'juni' | replace: 'M07', 'juli' | replace: 'M08', 'augusti' | replace: 'M09', 'september' | replace: 'M10', 'oktober' | replace: 'M11', 'november' | replace: 'M12', 'december'}}
		</time>
		<span class="c-post__authors">
			{% for authorId in include.post.authors %}{% assign author = site.medarbetare | where: "uid", authorId | first %}{% unless forloop.first %}, {% endunless %}<a href="/om/{{ authorId }}">{{ author.name }}</a>{% endfor %}
		</span>
	</div>
</header>
