<header class="c-header">
	<nav class="u-wrapper">
		<a href="/">
			<img alt="KITS" class="c-header__logotype" src="/images/logotype/kits-small.png"
					srcset="/images/logotype/kits-small@2x.png 2x">
		</a>
		<a id="js-menu-button" class="c-menu-button u-float-right" href="#">
			<span class="c-menu-button__text">Meny</span>
			<span class="c-menu-button__icon"></span>
		</a>
		<ul id="js-menu" class="c-menu u-float-right">
			{% for menuItem in site.data.menu %}
			<li class="c-menu__item">
				{% if page.url contains menuItem.url %}
				<a class="c-menu__link is-active" href="{{ menuItem.url }}">{{ menuItem.text }}</a>
				{% else %}
				<a class="c-menu__link" href="{{ menuItem.url }}">{{ menuItem.text }}</a>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</nav>
</header>
<div id="js-menu-background" class="c-menu-background"></div>
