@charset "UTF-8";

@import "bem";
@import "mixins";
@import "theme";

@include component("button") {
	background-color: $primary1;
	border-radius: 20px;
	display: inline-block;
	color: white;
	line-height: 40px;
	min-width: 280px;
	padding-left: $paddingMedium;
	padding-right: $paddingMedium;
	text-align: center;
	transition: background-color 0.2s;

	@media screen and (max-width: $widthMobile) {
		width: 100%;
	}

	&:hover {
		background-color: darken($primary1, 10%);
		text-decoration: none;
	}
}

@include component("columns") {
	@include wrapper;

	position: relative;

	@media screen and (max-width: $widthOneColumn) {
		padding-left: 0;
		padding-right: 0;
	}

	@include element("first") {
		border-right: 1px solid $lineColor;
		margin-bottom: $paddingBig;
		margin-right: 250px;
		padding-right: $paddingMedium;

		@media screen and (max-width: ($width + $padding * 2)) {
			margin-bottom: $paddingMedium;
		}

		@media screen and (max-width: $widthOneColumn) {
			border-right: 0;
			margin-right: 0;
			padding-left: $paddingMedium;
		}

		@media screen and (max-width: $widthMobile) {
			padding-left: $padding;
			padding-right: $padding;
		}
	}

	@include element("second") {
		padding-left: $paddingMedium;
		padding-top: 39px;
		position: absolute;
		right: $paddingMedium;
		top: 0;
		width: 250px;

		@media screen and (max-width: $widthOneColumn) {
			background-color: $backgroundColor2;
			margin-bottom: $paddingMedium;
			padding-bottom: $paddingMedium;
			padding-top: $paddingMedium;
			position: relative;
			right: auto;
			width: auto;
		}

		@media screen and (max-width: $widthMobile) {
			padding-left: $padding;
			padding-right: $padding;
		}
	}
}

@include component("contact") {
	@include wrapper;

	margin-bottom: $paddingBig;
	text-align: center;

	@media screen and (max-width: ($width + $padding * 2)) {
		margin-bottom: $paddingMedium;
	}

	@include element("button") {
		margin-top: $padding;
	}
}

@include component("entrypoint") {
	background-color: $backgroundColor2;
	margin-bottom: $paddingBig;
	padding-bottom: $paddingMedium;
	padding-top: $paddingMedium;

	@media screen and (max-width: ($width + $padding * 2)) {
		margin-bottom: $paddingMedium;
	}

	@media screen and (max-width: $widthOneColumn) {
		padding-bottom: 0;
		padding-top: 0;
	}

	@include element("wrapper") {
		@include clearfix;
		@include wrapper;

		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;

		padding-left: 0;
		padding-right: 0;

		@media screen and (max-width: $widthOneColumn) {
			display: block;
		}

		@media screen and (max-width: $widthMobile) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	@include element("column") {
		-moz-box-flex: 1;
		-ms-flex: 1;
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		flex: 1;

		float: left;
		padding: $paddingSmall $paddingMedium 70px;
		position: relative;
		text-align: center;
		width: 50%;

		&:first-child {
			border-right: 1px solid $lineColor;
		}

		@media screen and (max-width: $widthOneColumn) {
			float: none;
			padding: $paddingMedium;
			text-align: left;
			width: auto;

			&:first-child {
				border-bottom: 1px solid $lineColor;
				border-right: 0;
			}
		}

		@media screen and (max-width: $widthMobile) {
			padding: $paddingMedium $padding;
		}
	}

	@include element("button") {
		bottom: $paddingSmall;
		left: $paddingMedium;
		margin-bottom: 0;
		position: absolute;
		right: $paddingMedium;
		text-align: center;

		@media screen and (max-width: $widthOneColumn) {
			bottom: auto;
			left: auto;
			margin-bottom: 0;
			margin-top: $padding;
			position: relative;
			right: auto;
			text-align: left;
		}
	}
}

@include component("erbjudande") {
	display: table-cell;
	padding: $paddingMedium $paddingBig;
	position: relative;
	width: 50%;

	&:before {
		border-color: transparent;
		border-style: solid;
		content: "";
		position: absolute;
	}

	@media screen and (max-width: ($width + $padding * 2)) {
		padding-left: $paddingMedium;
		padding-right: $paddingMedium;
	}

	@media screen and (max-width: $widthOneColumn) {
		display: block;
		width: auto;
	}

	@media screen and (max-width: $widthMobile) {
		padding-left: $padding;
		padding-right: $padding;
	}

	@include element("heading") {
		color: white;
		float: left;
		line-height: 70px;
		margin-left: 15px;
	}

	@include element("icon") {
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: 35px;
		float: left;
		height: 70px;
		padding: 10px;
		width: 70px;
	}

	p {
		clear: both;
		color: white;
	}

	@include modifier("index1") {
		background-color: $primary1;
		z-index: 3;

		&:before {
			-moz-border-image: url("/images/erbjudanden/utveckling_background.svg") 26 6 23 23 stretch;
			-o-border-image: url("/images/erbjudanden/utveckling_background.svg") 26 6 23 23 stretch;
			-webkit-border-image: url("/images/erbjudanden/utveckling_background.svg") 26 6 23 23 stretch;
			border-image: url("/images/erbjudanden/utveckling_background.svg") 26 6 23 23 stretch;

			border-width: 26px 6px 23px 23px;
			bottom: -23px;
			left: -23px;
			right: -6px;
			top: -26px;
		}
	}

	@include modifier("index2") {
		background-color: $primary2;
		z-index: 1;

		&:before {
			-moz-border-image: url("/images/erbjudanden/projektledning_background.svg") 6 26 41 21 stretch;
			-o-border-image: url("/images/erbjudanden/projektledning_background.svg") 6 26 41 21 stretch;
			-webkit-border-image: url("/images/erbjudanden/projektledning_background.svg") 6 26 41 21 stretch;
			border-image: url("/images/erbjudanden/projektledning_background.svg") 6 26 41 21 stretch;

			border-width: 6px 26px 41px 21px;
			bottom: -41px;
			left: -21px;
			right: -26px;
			top: -6px;
		}
	}

	@include modifier("index3") {
		background-color: $primary3;
		z-index: 2;

		&:before {
			-moz-border-image: url("/images/erbjudanden/integration_background.svg") 6 29 21 25 stretch;
			-o-border-image: url("/images/erbjudanden/integration_background.svg") 6 29 21 25 stretch;
			-webkit-border-image: url("/images/erbjudanden/integration_background.svg") 6 29 21 25 stretch;
			border-image: url("/images/erbjudanden/integration_background.svg") 6 29 21 25 stretch;

			border-width: 6px 29px 21px 25px;
			bottom: -21px;
			left: -25px;
			right: -29px;
			top: -6px;
		}
	}

	@include modifier("index4") {
		background-color: $primary4;
		z-index: 4;

		&:before {
			-moz-border-image: url("/images/erbjudanden/sakerhet_background.svg") 13 33 33 30 stretch;
			-o-border-image: url("/images/erbjudanden/sakerhet_background.svg") 13 33 33 30 stretch;
			-webkit-border-image: url("/images/erbjudanden/sakerhet_background.svg") 13 33 33 30 stretch;
			border-image: url("/images/erbjudanden/sakerhet_background.svg") 13 33 33 30 stretch;

			border-width: 13px 33px 33px 30px;
			bottom: -33px;
			left: -30px;
			right: -33px;
			top: -13px;
		}
	}
}

@include component("erbjudande-list") {
	@include clearfix;
	@include wrapper;

	display: table;
	margin-bottom: $paddingBig + 41px;
	margin-top: $paddingBig + 26px;
	padding-left: 0;
	padding-right: 0;

	@media screen and (max-width: ($width + $padding * 2)) {
		margin-bottom: $paddingMedium + 41px;
		margin-top: $paddingMedium + 26px;
	}

	@media screen and (max-width: $widthOneColumn) {
		display: block;
	}

	@media screen and (max-width: $widthMobile) {
		padding-left: 0;
		padding-right: 0;
	}

	@include element("row") {
		@include clearfix;

		display: table-row;

		@media screen and (max-width: $widthOneColumn) {
			display: block;
		}
	}
}

@include component("footer") {
	@include clearfix;

	background-color: $backgroundColor2;
	bottom: 0;
	height: $footerHeight;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;

	@include element("address") {
		float: right;
		margin-right: 10px;
		padding-top: 28px;
		position: relative;

		&:before {
			background-image: url(/images/layout/footer.png);
			background-image: -webkit-image-set(url(/images/layout/footer.png) 1x, url(/images/layout/footer@2x.png) 2x);
			background-position-y: 0;
			background-repeat: no-repeat;
			background-size: 400px 370px;
			content: "";
			height: 370px;
			left: -(391px + $paddingBig);
			position: absolute;
			top: 0;
			width: 400px;
		}
	}
}

@include component("forman") {
	@include clearfix;
	@include wrapper;

	margin-bottom: $paddingBig;

	@media screen and (max-width: $widthMobileMenu) {
		margin-bottom: $paddingMedium;
		padding-left: 0;
		padding-right: 0;
	}

	@include element("image-container") {
		display: block;
		float: left;
		margin-right: $paddingMedium;

		@media screen and (max-width: $widthMobileMenu) {
			float: none;
			margin-right: 0;
			margin-bottom: $padding;
		}
	}

	@include element("image") {
		width: 300px;

		@media screen and (max-width: $widthOneColumn) {
			width: 200px;
		}

		@media screen and (max-width: $widthMobileMenu) {
			width: 100%;
		}
	}

	@include element("content") {
		overflow: hidden;
		_overflow: visible;
		zoom: 1;

		@media screen and (max-width: $widthMobileMenu) {
			padding-left: $paddingMedium;
			padding-right: $paddingMedium;
		}

		@media screen and (max-width: $widthMobile) {
			padding-left: $padding;
			padding-right: $padding;
		}
	}

	@include modifier("no-image") {
		-moz-box-flex: 1;
		-ms-flex: 1;
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		flex: 1;

		float: left;
		margin-bottom: 0;
		padding-top: $paddingSmall;
		width: 50%;

		@media screen and (max-width: $widthOneColumn) {
			float: none;
			width: auto;
		}
	}
}

@include component("forman-list") {
	background-color: $backgroundColor2;

	@include element("wrapper") {
		@include clearfix;
		@include wrapper;

		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;

		margin-bottom: $paddingBig;
		padding: $paddingMedium 0;

		& > :not(:first-child) {
			border-left: 1px solid $lineColor;
		}

		@media screen and (max-width: $widthOneColumn) {
			display: block;
			padding: $paddingMedium 0;

			& > :not(:first-child) {
				border-left: 0;
				margin-top: $padding;
			}
		}
	}
}

@include component("header") {
	background-color: rgba(255, 255, 255, 0.97);
	border-bottom: 1px solid $lineColor;

	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

	left: 0;
	position: absolute;
	position: fixed;
	right: 0;
	z-index: 100;
	top: 0;

	@media screen and (max-width: $widthMobileMenu) {
		position: absolute;
	}

	@media screen and (max-height: $widthMobileMenu) {
		position: absolute;
	}

	@include element("logotype") {
		bottom: -23px;
		display: inline-block;
		left: $padding;
		position: absolute;
		width: 101px;
	}
}

@include component("image-grid") {
	@include clearfix;

	margin-bottom: $paddingMedium;
	margin-top: $paddingMedium;

	img {
		margin-bottom: 0 !important;
		margin-top: 0 !important;
	}

	:first-child:not(:last-child) {
		float: left;
		width: 66.6666666666%;
	}

	:not(:first-child) {
		border-left: 2px solid white;
		float: left;
		width: 33.3333333333%;
	}

	:last-child {
		border-top: 2px solid white;
	}

	@media screen and (max-width: $widthMobile) {
		:first-child:not(:last-child) {
			border-bottom: 2px solid white;
			width: 100%;
		}

		:not(:first-child) {
			border-left: 0;
			width: 50%;
		}

		:last-child {
			border-left: 2px solid white;
			border-top: 0;
		}
	}
}

@include component("intro") {
	@include font-thin-normal(26px);
	@include wrapper;

	color: $textColor2;
	line-height: 1.4;
	margin-bottom: $paddingBig;
	text-align: center;

	@media screen and (max-width: ($width + $padding * 2)) {
		margin-bottom: $paddingMedium;
	}
}

@include component("map") {
	background-color: $backgroundColor2;
	height: 250px;
	margin-bottom: $paddingBig;

	@media screen and (max-width: ($width + $padding * 2)) {
		margin-bottom: $paddingMedium;
	}
}

@include component("medarbetare") {
	float: left;
	height: 250px;
	margin-bottom: $paddingMedium;
	padding: 0 $paddingMedium / 2;
	position: relative;
	width: 1 / 4 * 100%;

	@media screen and (max-width: 1100px) {
		width: 1 / 3 * 100%;
	}

	@media screen and (max-width: 700px) {
		width: 1 / 2 * 100%;
	}

	@media screen and (max-width: 500px) {
		width: 100%;
	}

	@include element("image") {
		height: inherit;
		left: -50%;
		position: relative;
	}

	@include element("image-wrapper") {
		display: inline-block;
		height: inherit;
		position: relative;
		right: -50%;
	}

	@include element("info") {
		background-color: rgba(255, 255, 255, 0.97);
		bottom: 0;
		left: 0;
		position: absolute;
		padding: $paddingSmall;
		right: 0;
	}

	@include element("link") {
		-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);

		display: block;
		height: inherit;
		overflow: hidden;
		position: relative;
	}

	@include element("name") {
		color: $textColor1;
		margin-bottom: 0;
		text-align: left;
	}

	@include element("tagline") {
		color: $textColor2;
		font-size: 14px;
		margin-bottom: 0;
		text-align: left;
	}
}

@include component("medarbetare-details") {
	margin-bottom: $paddingBig;
	min-height: 500px;

	@media screen and (max-width: ($width + $padding * 2)) {
		margin-bottom: $paddingMedium;
	}

	@media screen and (max-width: $widthOneColumn) {
		min-height: unset;
	}

	@include element("content") {
		@include wrapper;

		padding-left: 300px + $paddingMedium * 2;
		position: relative;

		@media screen and (max-width: $widthOneColumn) {
			padding-left: $paddingMedium;
		}

		@media screen and (max-width: $widthMobile) {
			padding-left: $padding;
		}

		blockquote {
			padding-bottom: $padding;
			padding-top: $padding;

			p {
				border-left: 1px solid $lineColor;
				color: $textColor3;
				margin-left: $padding;
				margin-right: $padding;
				padding-left: $padding;

				@media screen and (max-width: $widthMobile) {
					margin-left: 10px;
					margin-right: 0;
					padding-left: $padding;
				}
			}
		}
	}

	@include element("image-placeholder") {
		display: block;
		height: 500px;
		left: $paddingMedium;
		overflow: hidden;
		position: absolute;
		top: -$paddingSmall;
		width: 300px;

		@media screen and (max-width: $widthOneColumn) {
			height: 370px;
			left: auto;
			position: relative;
			top: auto;
			width: auto;
			margin-left: -$paddingMedium;
			margin-right: -$paddingMedium;
		}

		@media screen and (max-width: $widthMobile) {
			height: 250px;
			margin-left: -$padding;
			margin-right: -$padding
		}
	}

	@include element("image-wrapper") {
		display: inline-block;
		height: inherit;
		position: relative;
		right: -50%;
	}

	@include element("image") {
		height: inherit;
		left: -50%;
		position: relative;
	}

	@include element("name") {
		@include font-thin-normal(40px);

		color: $textColor1;
		margin-bottom: $paddingSmall;
		margin-top: $paddingSmall;
		padding-left: 0;
		padding-right: 0;
		text-align: left;

		@media screen and (max-width: $widthOneColumn) {
			margin-top: $paddingMedium;
			text-align: center;
		}
	}

	@include element("tagline") {
		@include font-thin-normal(26px);

		color: $linkColor;
		margin-bottom: $paddingMedium;
		text-align: left;

		@media screen and (max-width: $widthOneColumn) {
			text-align: center;
		}
	}
}

@include component("medarbetare-list") {
	@include clearfix;
	@include wrapper-big;

	padding-bottom: $paddingBig - $paddingMedium;
	padding-left: $paddingMedium - $paddingMedium / 2;
	padding-right: $paddingMedium - $paddingMedium / 2;

	@media screen and (max-width: ($widthBig + $padding * 2)) {
		padding-bottom: $paddingMedium - $padding;
	}

	@media screen and (max-width: $widthMobile) {
		padding-bottom: $paddingMedium - $padding;
		padding-left: $padding - $padding / 2;
		padding-right: $padding - $padding / 2;
	}
}

@include component("menu") {
	@include clearfix;

	height: 62px;

	@include element("item") {
		float: left;
		margin: 0 5px;

		@media screen and (max-width: $widthMobileMenu) {
			display: none;
		}
	}

	@include element("link") {
		color: $textColor2;
		display: inline-block;
		padding: 20px 5px;
		position: relative;
		transition: color 0.2s;

		&:after {
			background-color: $primary1;
			border-radius: 1px;
			bottom: -2px;
			content: "";
			height: 0;
			left: 0;
			opacity: 0;
			position: absolute;
			right: 0;
			transition: all 0.2s;
		}

		@include state("active") {
			color: $textColor1;

			&:after {
				height: 3px;
				opacity: 1;
			}
		}

		&:focus,
		&:hover {
			color: $textColor1;
			text-decoration: none;

			&:after {
				height: 3px;
				opacity: 1;
			}
		}
	}

	@include state("open") {
		position: fixed;
		right: 20px;
		top: 10px;

		@media screen and (max-width: $widthMobile) {
			right: 10px;
		}

		border: 1px solid $lineColor;

		-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

		border-radius: 10px;
		background-color: rgba(255, 255, 255, 0.97);
		height: auto;
		min-width: 200px;
		padding: 40px 0 10px 0;
		z-index: 110;

		@include modifies-element("item") {
			display: block;
			float: none;
			margin: 5px 0;
		}

		.c-menu__link {
			display: block;
			padding: 5px 20px;

			&:after {
				bottom: 0;
				left: -2px;
				height: auto;
				right: auto;
				top: 0;
				width: 0;
			}

			&.is-active {
				&:after {
					opacity: 1;
					width: 3px;
				}
			}

			&:focus,
			&:hover {
				&:after {
					opacity: 1;
					width: 3px;
				}
			}
		}
	}
}

@include component("menu-background") {
	background-color: #fff;
	bottom: 0;
	display: none;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity 0.2s;
	z-index: 90;

	@include state("active") {
		display: block;
		opacity: 0.7;
	}
}

@include component("menu-button") {
	@include font-light-normal(16px);

	color: $textColor2;
	display: none;
	line-height: 1.5;
	padding: 20px 5px;
	position: relative;
	transition: color 0.2s;
	z-index: 120;

	@media screen and (max-width: $widthMobileMenu) {
		display: inline-block;
	}

	&:hover {
		color: $textColor1;
		text-decoration: none;
	}

	@-moz-keyframes menu-appear {
		0% {
			opacity: 0;

			-moz-transform: translateY(-80px);
			transform: translateY(-80px);
		}

		40% {
			-moz-transform: translateY(30px);
			transform: translateY(30px);
		}

		60% {
			-moz-transform: translateY(-20px);
			transform: translateY(-20px);
		}

		80% {
			-moz-transform: translateY(10px);
			transform: translateY(10px);
		}

		100% {
			opacity: 1;

			-moz-transform: translateY(0px);
			transform: translateY(0px);
		}
	}

	@-o-keyframes menu-appear {
		0% {
			opacity: 0;

			-o-transform: translateY(-80px);
			transform: translateY(-80px);
		}

		40% {
			-o-transform: translateY(30px);
			transform: translateY(30px);
		}

		60% {
			-o-transform: translateY(-20px);
			transform: translateY(-20px);
		}

		80% {
			-o-transform: translateY(10px);
			transform: translateY(10px);
		}

		100% {
			opacity: 1;

			-o-transform: translateY(0px);
			transform: translateY(0px);
		}
	}

	@-webkit-keyframes menu-appear {
		0% {
			opacity: 0;

			-webkit-transform: translateY(-80px);
			transform: translateY(-80px);
		}

		40% {
			-webkit-transform: translateY(30px);
			transform: translateY(30px);
		}

		60% {
			-webkit-transform: translateY(-20px);
			transform: translateY(-20px);
		}

		80% {
			-webkit-transform: translateY(10px);
			transform: translateY(10px);
		}

		100% {
			opacity: 1;

			-webkit-transform: translateY(0px);
			transform: translateY(0px);
		}
	}

	@keyframes menu-appear {
		0% {
			opacity: 0;
			transform: translateY(-80px);
		}

		40% {
			transform: translateY(30px);
		}

		60% {
			transform: translateY(-20px);
		}

		80% {
			transform: translateY(10px);
		}

		100% {
			opacity: 1;
			transform: translateY(0px);
		}
	}

	@include modifier("floating") {
		background-color: rgba(0, 0, 0, 0.2);
		border-radius: 20px;
		color: white;
		height: 40px;
		position: fixed;
		right: 15px;
		top: 12px;
		width: 40px;

		-moz-animation-duration: 0.4s;
		-o-animation-duration: 0.4s;
		-webkit-animation-duration: 0.4s;
		animation-duration: 0.4s;

		-moz-animation-name: menu-appear;
		-o-animation-name: menu-appear;
		-webkit-animation-name: menu-appear;
		animation-name: menu-appear;

		-moz-animation-timing-function: ease-in-out;
		-o-animation-timing-function: ease-in-out;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;

		&:hover {
			background-color: rgba(0, 0, 0, 0.5);
		}

		@include modifies-element("text") {
			display: none;
		}

		@include modifies-element("icon") {
			background: white;
			top: -17px;

			&:before, &:after {
				background: white;
			}
		}
	}

	@include element("text") {
		color: $textColor2;
		display: inline-block;
		opacity: 1;
	}

	@include element("icon") {
		background: $textColor2;
		border-radius: 1px;
		display: inline-block;
		height: 2px;
		margin-left: 5px;
		position: relative;
		top: -5px;
		width: 20px;

		&:before, &:after {
			background: $textColor2;
			border-radius: 1px;
			content: "";
			display: inline-block;
			height: 2px;
			left: 0;
			position: absolute;
			width: 20px;
		}

		&:before {
			top: 5px;
		}

		&:after {
			top: -5px;
		}
	}

	@include state("open") {
		background-color: transparent;

		.c-menu-button__text {
			opacity: 0;
		}

		@include modifies-element("icon") {
			background: $textColor2;

			&:before, &:after {
				background: $textColor2;;
			}
		}
	}
}

@include component("nyhet") {
	float: left;
	height: 250px;
	margin-bottom: $paddingMedium;
	padding: 0 $paddingMedium / 2;
	position: relative;
	width: 50%;

	@media screen and (max-width: 500px) {
		width: 100%;
	}

	@include modifier("small") {
		height: 65px;
		width: 1 / 6 * 100%;

		@media screen and (max-width: 500px) {
			width: 1 / 3 * 100%;
		}

		.c-nyhet__info {
			display: none;
		}
	}

	@include element("image") {
		height: inherit;
		left: -50%;
		position: relative;
	}

	@include element("image-wrapper") {
		display: inline-block;
		height: inherit;
		position: relative;
		right: -50%;
	}

	@include element("info") {
		background-color: rgba(255, 255, 255, 0.97);
		bottom: 0;
		left: 0;
		position: absolute;
		padding: $paddingSmall;
		right: 0;
	}

	@include element("link") {
		-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);

		display: block;
		height: inherit;
		overflow: hidden;
		position: relative;
	}

	@include element("heading") {
		color: $textColor1;
		margin-bottom: 0;
		text-align: left;
	}

	@include element("time") {
		color: $textColor2;
		font-size: 14px;
		margin-bottom: 0;
		text-align: left;
	}
}

@include component("nyhet-details") {
	margin-bottom: $paddingBig;

	@media screen and (max-width: ($widthSmall + $padding * 2)) {
		margin-bottom: $paddingMedium;
	}

	@include element("header") {
		@include wrapper-small;

		margin-bottom: $paddingMedium;

		@media screen and (max-width: $widthMobile) {
			margin-bottom: $padding;
			text-align: center;
		}
	}

	@include element("time") {
		@include font-thin-normal(16px);

		color: $textColor2;
		display: inline-block;
		background-image: url(/images/icons/time.png);
		background-image: -webkit-image-set(url(/images/icons/time.png) 1x, url(/images/icons/time@2x.png) 2x);
		background-position: 0 50%;
		background-repeat: no-repeat;
		background-size: 12px;
		padding-left: 20px;
	}

	@include element("content") {
		@include content;
	}
}

@include component("nyhet-list") {
	@include clearfix;
	@include wrapper-small;

	padding-bottom: $paddingBig - $paddingMedium;
	padding-left: $paddingMedium - $paddingMedium / 2;
	padding-right: $paddingMedium - $paddingMedium / 2;

	@media screen and (max-width: ($widthBig + $padding * 2)) {
		padding-bottom: $paddingMedium - $padding;
	}

	@media screen and (max-width: $widthMobile) {
		padding-bottom: $paddingMedium - $padding;
		padding-left: $padding - $padding / 2;
		padding-right: $padding - $padding / 2;
	}
}

@include component("post") {
	margin-bottom: $paddingBig;
	margin-top: $paddingBig + 20;

	@media screen and (max-width: ($widthSmall + $padding * 2)) {
		margin-bottom: $paddingMedium;
		margin-top: $paddingMedium + 20;
	}

	@media screen and (max-width: $widthMobile) {
		margin-top: $paddingMedium
	}

	@include element("header") {
		@include wrapper-small;

		margin-bottom: $paddingMedium;
		padding-left: 110px;
		position: relative;

		@media screen and (max-width: $widthMobile) {
			margin-bottom: $padding;
			padding-left: $padding;
			text-align: center;
		}
	}

	@include element("author-image") {
		bottom: -40px;
		left: -30px;
		position: absolute;
		width: 120px;
		border-radius: 60px;
		-webkit-border-radius: 60px;
		-moz-border-radius: 60px;

		@media screen and (max-width: $widthMobile) {
			bottom: auto;
			left: auto;
			margin-bottom: $padding;
			position: relative;
		}
	}

	@include element("authors") {
		@include font-thin-normal(16px);

		color: $textColor2;
		display: inline-block;
		background-image: url(/images/icons/author.png);
		background-image: -webkit-image-set(url(/images/icons/author.png) 1x, url(/images/icons/author@2x.png) 2x);
		background-position: 1px 2px;
		background-repeat: no-repeat;
		background-size: 10px;
		margin-right: 10px;
		padding-left: 20px;
	}

	@include element("time") {
		@include font-thin-normal(16px);

		color: $textColor2;
		display: inline-block;
		background-image: url(/images/icons/time.png);
		background-image: -webkit-image-set(url(/images/icons/time.png) 1x, url(/images/icons/time@2x.png) 2x);
		background-position: 0 50%;
		background-repeat: no-repeat;
		background-size: 12px;
		margin-right: 10px;
		padding-left: 20px;
	}

	@include element("content") {

		& > :first-child {
			text-indent: 90px;
		}

		@media screen and (max-width: $widthMobile) {
			& > :first-child {
				text-indent: 0;
			}
		}

		@include content;
	}
}

@include component("post-nav") {
	@include font-thin-normal(16px);
	@include clearfix;
	@include wrapper-small;

	border-top: 1px solid $lineColor;
	margin-bottom: 30px;

	@include element("prev") {
		border-right: 1px solid $lineColor;
		display: block;
		float: left;
		overflow: hidden;
		padding: 23px 20px 20px 0;
		text-align: left;
		-ms-text-overflow: ellipsis;
		text-overflow: ellipsis;;
		white-space: nowrap;
		width: 50%;

		&:last-child:first-child {
			border-right: 0;
			width: 100%;
		}

		@media screen and (max-width: $widthMobile) {
			border-bottom: 1px solid lighten($lineColor, 20%);
			border-right: 0;
			float: none;
			width: 100%;

			&:last-child:first-child {
				border-bottom: 0;
			}
		}
	}

	@include element("next") {
		display: block;
		float: right;
		overflow: hidden;
		padding: 23px 0 20px 20px;
		text-align: right;
		-ms-text-overflow: ellipsis;
		text-overflow: ellipsis;;
		white-space: nowrap;
		width: 50%;

		&:last-child:first-child {
			width: 100%;
		}

		@media screen and (max-width: $widthMobile) {
			float: none;
			width: 100%;
		}
	}
}

@include component("projekt") {
	@include clearfix;
	@include wrapper;

	margin-bottom: $paddingBig;

	@media screen and (max-width: $widthMobileMenu) {
		margin-bottom: $paddingMedium;
		padding-left: 0;
		padding-right: 0;
	}

	@include element("image-container") {
		display: block;
		float: left;
		margin-right: $paddingMedium;

		@media screen and (max-width: $widthMobileMenu) {
			float: none;
			margin-right: 0;
			margin-bottom: $padding;
		}
	}

	@include element("image") {
		width: 300px;

		@media screen and (max-width: $widthOneColumn) {
			width: 200px;
		}

		@media screen and (max-width: $widthMobileMenu) {
			width: 100%;
		}
	}

	@include element("content") {
		overflow: hidden;
		_overflow: visible;
		zoom: 1;

		@media screen and (max-width: $widthMobileMenu) {
			padding-left: $paddingMedium;
			padding-right: $paddingMedium;
		}

		@media screen and (max-width: $widthMobile) {
			padding-left: $padding;
			padding-right: $padding;
		}
	}
}

@include component("section-header") {
	@include font-thin-normal(26px);
	@include wrapper;

	color: $textColor2;
	line-height: 1.4;
	margin-bottom: $paddingMedium;
	position: relative;
	text-align: center;

	span {
		background-color: $backgroundColor1;
		display: inline-block;
		padding-left: $paddingSmall;
		padding-right: $paddingSmall;
	}

	&:before {
		border-top: 1px solid $lineColor;
		content: "";
		left: $paddingMedium;
		position: absolute;
		right: $paddingMedium;
		top: 0.7em;
		z-index: -1;

		@media screen and (max-width: $widthMobile) {
			left: $padding;
			right: $padding;
		}
	}

	@include modifier("big") {
		@include wrapper-big;

		&:before {
			left: $paddingMedium;
			right: $paddingMedium;

			@media screen and (max-width: $widthMobile) {
				left: $padding;
				right: $padding;
			}
		}
	}
}

@include component("social") {
	margin-top: 25px;

	@include element("item") {
		display: inline-block;
		margin-right: 5px;

		&:last-child {
			margin-right: 0;
		}
	}

	@include element("icon") {
		height: 35px;
		opacity: 0.2;
		transition: opacity 0.2s;
		width: 35px;

		&:hover {
			opacity: 0.5;
		}

		&:active {
			opacity: 0.8;
		}
	}
}

// Work In Progress

@include component("jobb") {
	float: left;

	@for $i from 1 through 10 {
		@include modifier("size-#{$i}") {
			width: 100% / $i;
		}
	}

	@media screen and (max-width: $widthOneColumn) {
		background-color: $backgroundColor2;
		float: none;
		margin-top: 30px;
		width: 100%;
	}

	@include modifier("active") {
		@include modifies-element("content-wrapper") {
			opacity: 1;
		}
	}

	@include element("content-wrapper") {
		@include clearfix;

		opacity: 0;
		padding: $paddingBig $paddingMedium;
		transition: all 0.5s;

		@media screen and (max-width: $widthOneColumn) {
			opacity: 1;
			padding: 0 $paddingMedium $paddingMedium;

			h3 {
				margin-bottom: $paddingMedium;
			}
		}
	}
}

@include component("jobb-avatar") {
	position: absolute;
	text-align: center;
	top: -170px;

	@media screen and (max-width: $widthOneColumn) {
		position: inherit;
		text-align: left;
	}

	img {
		transition: transform 0.2s;

		@media screen and (max-width: $widthOneColumn) {
			float: right;
			margin-top: -15px;
			margin-left: $paddingMedium;
			margin-right: $paddingMedium;
		}
	}

	&:focus,
	&:hover {
		text-decoration: none;

		img {
			-moz-transform: scale(1.1) translateY(-5px);
			-ms-transform: scale(1.1) translateY(-5px);
			-o-transform: scale(1.1) translateY(-5px);
			-webkit-transform: scale(1.1) translateY(-5px);
			transform: scale(1.1) translateY(-5px);

		}
		.c-jobb-avatar__name {
			color: $textColor1;
		}
	}

	@include element("name") {
		font-size: 16px;
		margin-top: $paddingSmall;

		@media screen and (max-width: $widthOneColumn) {
			color: $linkColor;
			display: inline-block;
			font-size: 22px;
			margin-left: 30px;
			margin-top: 35px;
		}
	}
}

@include component("jobb-list") {
	background-color: $backgroundColor2;
	margin-bottom: $paddingBig;
	margin-top: 220px;

	@media screen and (max-width: ($width + $padding * 2)) {
		margin-bottom: $paddingMedium;
	}

	@media screen and (max-width: $widthOneColumn) {
		background-color: $backgroundColor1;
		margin-top: 0;
	}

	@for $i from 0 through 10 {
		@include modifier("active-#{$i}") {
			.c-jobb-list__active-indicator {
				transform: translateX(100% * $i);
			}
			.c-jobb__content-wrapper {
				transform: translateX(-100% * $i);

				@media screen and (max-width: $widthOneColumn) {
					transform: translateX(0);
				}
			}
		}
	}

	@include element("outer-wrapper") {
		@include wrapper;

		padding-left: 0;
		padding-right: 0;
		position: relative;

		@media screen and (max-width: $widthMobile) {
			padding-left: 0;
			padding-right: 0;
		}

	}

	@include element("inner-wrapper") {
		@include clearfix;

		@for $i from 0 through 10 {
			@include modifier("size-#{$i}") {
				width: 100% * $i;
			}
		}

		@media screen and (max-width: $widthOneColumn) {
			width: auto !important;
		}
	}

	@include element("active-indicator") {
		background-color: $backgroundColor2;
		height: 0;
		left: 0;
		position: absolute;
		top: 0;
		transition: all 0.5s;

		@media screen and (max-width: $widthOneColumn) {
			display: none;
		}

		&:after {
			border: solid transparent;
			border-bottom-color: $backgroundColor2;
			border-width: 30px;
			bottom: 100%;
			content: " ";
			height: 0;
			left: 50%;
			margin-left: -$paddingMedium;
			position: absolute;
			width: 0;
		}
	}
}
