@charset "UTF-8";

@import "theme";

@mixin clearfix {
	&:after {
		clear: both;
		content: "";
		display: block;
	}
}

@mixin content {
	blockquote {
		@include wrapper-small;

		padding-bottom: $paddingMedium;
		padding-top: $paddingMedium;
		position: relative;

		@media screen and (max-width: $widthMobile) {
			padding-bottom: $padding;
			padding-top: $padding;
		}

		p {
			border-left: 1px solid $lineColor;
			color: $textColor3;
			margin-left: $paddingMedium;
			margin-right: $paddingMedium;
			padding-left: $paddingMedium;

			@media screen and (max-width: $widthMobile) {
				margin-left: 10px;
				margin-right: 0;
				padding-left: $padding;
			}
		}
	}

	h2 {
		@include wrapper-small;

		color: $textColor2;
		font-size: 24px;
		margin-bottom: 12px;
		margin-top: 24px;
	}

	h3 {
		@include wrapper-small;
	}

	img {
		max-width: 100%;

		&.float-left {
			float: left;
			margin-right: $paddingMedium;
			margin-left: -$paddingMedium;
			width: 50%;

			@media screen and (max-width: $widthMobileMenu) {
				float: none;
				margin-left: -$padding;
				margin-right: -$padding;
				max-width: none;
				width: 120%;
				width: calc(100% + 40px);
			}
		}
	}

	p {
		@include wrapper-small;
	}

	ul {
		@include wrapper-small;

		list-style: none;
		margin-bottom: 10px;

		li {
			margin-left: 30px;
			text-indent: -10px;

			&:before {
				color: $textColor1;
				content: "–";
				left: -10px;
				position: relative;
			}
		}
	}
}

@mixin font-thin-normal($size) {
	font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeueW01-Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: $size;
	font-style: normal;
}

@mixin font-thin-italic($size) {
	font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeueW01-Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: $size;
	font-style: italic;
}

@mixin font-light-normal($size) {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: $size;
	font-style: normal;
}

@mixin font-light-italic($size) {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: $size;
	font-style: italic;
}

@mixin font-standard-normal($size) {
	font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeueW01-65Medi", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: $size;
	font-style: normal;
}

@mixin font-standard-italic($size) {
	font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeueW01-65Medi", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: $size;
	font-style: italic;
}

@mixin wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: $width;
	padding-left: $paddingMedium;
	padding-right: $paddingMedium;

	@media screen and (max-width: $widthMobile) {
		padding-left: $padding;
		padding-right: $padding;
	}
}

@mixin wrapper-big {
	margin-left: auto;
	margin-right: auto;
	max-width: $widthBig;
	padding-left: $paddingMedium;
	padding-right: $paddingMedium;

	@media screen and (max-width: $widthMobile) {
		padding-left: $padding;
		padding-right: $padding;
	}
}

@mixin wrapper-small {
	margin-left: auto;
	margin-right: auto;
	max-width: $widthSmall;
	padding-left: $padding;
	padding-right: $padding;
}
