@charset "UTF-8";

$primary1: #f37f4a;
$primary2: #c9c6a6;
$primary3: #c1ae48;
$primary4: #7ac4bb;

$backgroundColor1: #fff;
$backgroundColor2: lighten(#b0ad97, 30%);

$footerHeight: 250px;

$lineColor: lighten(#b0ad97, 10%);

$linkColor: darken($primary1, 10%);

$paddingSmall: 10px;
$paddingMedium: 30px;
$paddingBig: 50px;
$padding: 20px;

$textColor1: #333;
$textColor2: #777;
$textColor3: #999;

$widthSmall: 660px;
$widthBig: 1200px;
$width: 840px;
$widthMobile: 405px;
$widthMobileMenu: 550px;
$widthOneColumn: 650px;
