@charset "UTF-8";

@import "bem";
@import "mixins";

@include utility("float-right") {
	float: right;
}

@include utility("wrapper") {
	@include clearfix;
	@include wrapper;

	position: relative;
}

@include utility("wrapper-big") {
	@include clearfix;
	@include wrapper-big;

	position: relative;
}

@include utility("wrapper-small") {
	@include clearfix;
	@include wrapper-small;

	position: relative;
}
