@charset "UTF-8";
/*! sass-bem-constructor - version : 1.1.0 - 2016-08-18 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

a {
  color: #f05d1a;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

b, strong {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeueW01-65Medi", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-style: normal; }

body {
  background-color: #fff;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  padding-bottom: 246px;
  padding-top: 140px;
  position: relative;
  width: 100%; }

code {
  background-color: #f2f2ee;
  border-radius: 2px;
  color: #333;
  font-family: "Courier New", monospace;
  padding: 3px 5px 3px 5px; }

h1 {
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeueW01-Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 64px;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  max-width: 840px;
  padding-left: 30px;
  padding-right: 30px;
  color: #333;
  margin-bottom: 32px;
  text-align: center; }
  @media screen and (max-width: 405px) {
    h1 {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (max-width: 405px) {
    h1 {
      font-size: 48px;
      margin-bottom: 24px; } }

h2 {
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeueW01-Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 26px;
  font-style: normal;
  color: #f05d1a;
  margin-bottom: 13px; }

h3 {
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeueW01-Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 20px;
  font-style: normal;
  color: #777;
  margin-bottom: 10px; }

h4 {
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeueW01-Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px;
  font-style: normal;
  color: #777;
  margin-bottom: 10px; }

html {
  height: 100%;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

i, em {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-style: italic; }

li {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #333;
  line-height: 1.4; }

p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #333;
  line-height: 1.4;
  margin-bottom: 10px; }

/*! sass-bem-constructor - version : 1.1.0 - 2016-08-18 */
.c-button {
  background-color: #f37f4a;
  border-radius: 20px;
  display: inline-block;
  color: white;
  line-height: 40px;
  min-width: 280px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  transition: background-color 0.2s; }
  @media screen and (max-width: 405px) {
    .c-button {
      width: 100%; } }
  .c-button:hover {
    background-color: #f05d1a;
    text-decoration: none; }
.c-columns {
  margin-left: auto;
  margin-right: auto;
  max-width: 840px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative; }
  @media screen and (max-width: 405px) {
    .c-columns {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (max-width: 650px) {
    .c-columns {
      padding-left: 0;
      padding-right: 0; } }
  .c-columns__first {
    border-right: 1px solid #c6c4b4;
    margin-bottom: 50px;
    margin-right: 250px;
    padding-right: 30px; }
    @media screen and (max-width: 880px) {
      .c-columns__first {
        margin-bottom: 30px; } }
    @media screen and (max-width: 650px) {
      .c-columns__first {
        border-right: 0;
        margin-right: 0;
        padding-left: 30px; } }
    @media screen and (max-width: 405px) {
      .c-columns__first {
        padding-left: 20px;
        padding-right: 20px; } }
  .c-columns__second {
    padding-left: 30px;
    padding-top: 39px;
    position: absolute;
    right: 30px;
    top: 0;
    width: 250px; }
    @media screen and (max-width: 650px) {
      .c-columns__second {
        background-color: #f2f2ee;
        margin-bottom: 30px;
        padding-bottom: 30px;
        padding-top: 30px;
        position: relative;
        right: auto;
        width: auto; } }
    @media screen and (max-width: 405px) {
      .c-columns__second {
        padding-left: 20px;
        padding-right: 20px; } }
.c-contact {
  margin-left: auto;
  margin-right: auto;
  max-width: 840px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 50px;
  text-align: center; }
  @media screen and (max-width: 405px) {
    .c-contact {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (max-width: 880px) {
    .c-contact {
      margin-bottom: 30px; } }
  .c-contact__button {
    margin-top: 20px; }
.c-entrypoint {
  background-color: #f2f2ee;
  margin-bottom: 50px;
  padding-bottom: 30px;
  padding-top: 30px; }
  @media screen and (max-width: 880px) {
    .c-entrypoint {
      margin-bottom: 30px; } }
  @media screen and (max-width: 650px) {
    .c-entrypoint {
      padding-bottom: 0;
      padding-top: 0; } }
  .c-entrypoint__wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 840px;
    padding-left: 30px;
    padding-right: 30px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding-left: 0;
    padding-right: 0; }
    .c-entrypoint__wrapper:after {
      clear: both;
      content: "";
      display: block; }
    @media screen and (max-width: 405px) {
      .c-entrypoint__wrapper {
        padding-left: 20px;
        padding-right: 20px; } }
    @media screen and (max-width: 650px) {
      .c-entrypoint__wrapper {
        display: block; } }
    @media screen and (max-width: 405px) {
      .c-entrypoint__wrapper {
        padding-left: 0;
        padding-right: 0; } }
  .c-entrypoint__column {
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    float: left;
    padding: 10px 30px 70px;
    position: relative;
    text-align: center;
    width: 50%; }
    .c-entrypoint__column:first-child {
      border-right: 1px solid #c6c4b4; }
    @media screen and (max-width: 650px) {
      .c-entrypoint__column {
        float: none;
        padding: 30px;
        text-align: left;
        width: auto; }
        .c-entrypoint__column:first-child {
          border-bottom: 1px solid #c6c4b4;
          border-right: 0; } }
    @media screen and (max-width: 405px) {
      .c-entrypoint__column {
        padding: 30px 20px; } }
  .c-entrypoint__button {
    bottom: 10px;
    left: 30px;
    margin-bottom: 0;
    position: absolute;
    right: 30px;
    text-align: center; }
    @media screen and (max-width: 650px) {
      .c-entrypoint__button {
        bottom: auto;
        left: auto;
        margin-bottom: 0;
        margin-top: 20px;
        position: relative;
        right: auto;
        text-align: left; } }
.c-erbjudande {
  display: table-cell;
  padding: 30px 50px;
  position: relative;
  width: 50%; }
  .c-erbjudande:before {
    border-color: transparent;
    border-style: solid;
    content: "";
    position: absolute; }
  @media screen and (max-width: 880px) {
    .c-erbjudande {
      padding-left: 30px;
      padding-right: 30px; } }
  @media screen and (max-width: 650px) {
    .c-erbjudande {
      display: block;
      width: auto; } }
  @media screen and (max-width: 405px) {
    .c-erbjudande {
      padding-left: 20px;
      padding-right: 20px; } }
  .c-erbjudande__heading {
    color: white;
    float: left;
    line-height: 70px;
    margin-left: 15px; }
  .c-erbjudande__icon {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 35px;
    float: left;
    height: 70px;
    padding: 10px;
    width: 70px; }
  .c-erbjudande p {
    clear: both;
    color: white; }
  .c-erbjudande--index1 {
    background-color: #f37f4a;
    z-index: 3; }
    .c-erbjudande--index1:before {
      -moz-border-image: url("/images/erbjudanden/utveckling_background.svg") 26 6 23 23 stretch;
      -o-border-image: url("/images/erbjudanden/utveckling_background.svg") 26 6 23 23 stretch;
      -webkit-border-image: url("/images/erbjudanden/utveckling_background.svg") 26 6 23 23 stretch;
      border-image: url("/images/erbjudanden/utveckling_background.svg") 26 6 23 23 stretch;
      border-width: 26px 6px 23px 23px;
      bottom: -23px;
      left: -23px;
      right: -6px;
      top: -26px; }
  .c-erbjudande--index2 {
    background-color: #c9c6a6;
    z-index: 1; }
    .c-erbjudande--index2:before {
      -moz-border-image: url("/images/erbjudanden/projektledning_background.svg") 6 26 41 21 stretch;
      -o-border-image: url("/images/erbjudanden/projektledning_background.svg") 6 26 41 21 stretch;
      -webkit-border-image: url("/images/erbjudanden/projektledning_background.svg") 6 26 41 21 stretch;
      border-image: url("/images/erbjudanden/projektledning_background.svg") 6 26 41 21 stretch;
      border-width: 6px 26px 41px 21px;
      bottom: -41px;
      left: -21px;
      right: -26px;
      top: -6px; }
  .c-erbjudande--index3 {
    background-color: #c1ae48;
    z-index: 2; }
    .c-erbjudande--index3:before {
      -moz-border-image: url("/images/erbjudanden/integration_background.svg") 6 29 21 25 stretch;
      -o-border-image: url("/images/erbjudanden/integration_background.svg") 6 29 21 25 stretch;
      -webkit-border-image: url("/images/erbjudanden/integration_background.svg") 6 29 21 25 stretch;
      border-image: url("/images/erbjudanden/integration_background.svg") 6 29 21 25 stretch;
      border-width: 6px 29px 21px 25px;
      bottom: -21px;
      left: -25px;
      right: -29px;
      top: -6px; }
  .c-erbjudande--index4 {
    background-color: #7ac4bb;
    z-index: 4; }
    .c-erbjudande--index4:before {
      -moz-border-image: url("/images/erbjudanden/sakerhet_background.svg") 13 33 33 30 stretch;
      -o-border-image: url("/images/erbjudanden/sakerhet_background.svg") 13 33 33 30 stretch;
      -webkit-border-image: url("/images/erbjudanden/sakerhet_background.svg") 13 33 33 30 stretch;
      border-image: url("/images/erbjudanden/sakerhet_background.svg") 13 33 33 30 stretch;
      border-width: 13px 33px 33px 30px;
      bottom: -33px;
      left: -30px;
      right: -33px;
      top: -13px; }
.c-erbjudande-list {
  margin-left: auto;
  margin-right: auto;
  max-width: 840px;
  padding-left: 30px;
  padding-right: 30px;
  display: table;
  margin-bottom: 91px;
  margin-top: 76px;
  padding-left: 0;
  padding-right: 0; }
  .c-erbjudande-list:after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (max-width: 405px) {
    .c-erbjudande-list {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (max-width: 880px) {
    .c-erbjudande-list {
      margin-bottom: 71px;
      margin-top: 56px; } }
  @media screen and (max-width: 650px) {
    .c-erbjudande-list {
      display: block; } }
  @media screen and (max-width: 405px) {
    .c-erbjudande-list {
      padding-left: 0;
      padding-right: 0; } }
  .c-erbjudande-list__row {
    display: table-row; }
    .c-erbjudande-list__row:after {
      clear: both;
      content: "";
      display: block; }
    @media screen and (max-width: 650px) {
      .c-erbjudande-list__row {
        display: block; } }
.c-footer {
  background-color: #f2f2ee;
  bottom: 0;
  height: 246px;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0; }
  .c-footer:after {
    clear: both;
    content: "";
    display: block; }
  .c-footer__address {
    float: right;
    margin-right: 10px;
    padding-top: 28px;
    position: relative; }
    .c-footer__address:before {
      background-image: url(/images/layout/footer.png);
      background-image: -webkit-image-set(url(/images/layout/footer.png) 1x, url(/images/layout/footer@2x.png) 2x);
      background-position-y: 0;
      background-repeat: no-repeat;
      background-size: 400px 370px;
      content: "";
      height: 370px;
      left: -441px;
      position: absolute;
      top: 0;
      width: 400px; }
.c-forman {
  margin-left: auto;
  margin-right: auto;
  max-width: 840px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 50px; }
  .c-forman:after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (max-width: 405px) {
    .c-forman {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (max-width: 550px) {
    .c-forman {
      margin-bottom: 30px;
      padding-left: 0;
      padding-right: 0; } }
  .c-forman__image-container {
    display: block;
    float: left;
    margin-right: 30px; }
    @media screen and (max-width: 550px) {
      .c-forman__image-container {
        float: none;
        margin-right: 0;
        margin-bottom: 20px; } }
  .c-forman__image {
    width: 300px; }
    @media screen and (max-width: 650px) {
      .c-forman__image {
        width: 200px; } }
    @media screen and (max-width: 550px) {
      .c-forman__image {
        width: 100%; } }
  .c-forman__content {
    overflow: hidden;
    _overflow: visible;
    zoom: 1; }
    @media screen and (max-width: 550px) {
      .c-forman__content {
        padding-left: 30px;
        padding-right: 30px; } }
    @media screen and (max-width: 405px) {
      .c-forman__content {
        padding-left: 20px;
        padding-right: 20px; } }
  .c-forman--no-image {
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    float: left;
    margin-bottom: 0;
    padding-top: 10px;
    width: 50%; }
    @media screen and (max-width: 650px) {
      .c-forman--no-image {
        float: none;
        width: auto; } }
.c-forman-list {
  background-color: #f2f2ee; }
  .c-forman-list__wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 840px;
    padding-left: 30px;
    padding-right: 30px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 50px;
    padding: 30px 0; }
    .c-forman-list__wrapper:after {
      clear: both;
      content: "";
      display: block; }
    @media screen and (max-width: 405px) {
      .c-forman-list__wrapper {
        padding-left: 20px;
        padding-right: 20px; } }
    .c-forman-list__wrapper > :not(:first-child) {
      border-left: 1px solid #c6c4b4; }
    @media screen and (max-width: 650px) {
      .c-forman-list__wrapper {
        display: block;
        padding: 30px 0; }
        .c-forman-list__wrapper > :not(:first-child) {
          border-left: 0;
          margin-top: 20px; } }
.c-header {
  background-color: rgba(255, 255, 255, 0.97);
  border-bottom: 1px solid #c6c4b4;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  left: 0;
  position: absolute;
  position: fixed;
  right: 0;
  z-index: 100;
  top: 0; }
  @media screen and (max-width: 550px) {
    .c-header {
      position: absolute; } }
  @media screen and (max-height: 550px) {
    .c-header {
      position: absolute; } }
  .c-header__logotype {
    bottom: -23px;
    display: inline-block;
    left: 20px;
    position: absolute;
    width: 101px; }
.c-image-grid {
  margin-bottom: 30px;
  margin-top: 30px; }
  .c-image-grid:after {
    clear: both;
    content: "";
    display: block; }
  .c-image-grid img {
    margin-bottom: 0 !important;
    margin-top: 0 !important; }
  .c-image-grid :first-child:not(:last-child) {
    float: left;
    width: 66.6666666666%; }
  .c-image-grid :not(:first-child) {
    border-left: 2px solid white;
    float: left;
    width: 33.3333333333%; }
  .c-image-grid :last-child {
    border-top: 2px solid white; }
  @media screen and (max-width: 405px) {
    .c-image-grid :first-child:not(:last-child) {
      border-bottom: 2px solid white;
      width: 100%; }
    .c-image-grid :not(:first-child) {
      border-left: 0;
      width: 50%; }
    .c-image-grid :last-child {
      border-left: 2px solid white;
      border-top: 0; } }
.c-intro {
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeueW01-Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 26px;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  max-width: 840px;
  padding-left: 30px;
  padding-right: 30px;
  color: #777;
  line-height: 1.4;
  margin-bottom: 50px;
  text-align: center; }
  @media screen and (max-width: 405px) {
    .c-intro {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (max-width: 880px) {
    .c-intro {
      margin-bottom: 30px; } }
.c-map {
  background-color: #f2f2ee;
  height: 250px;
  margin-bottom: 50px; }
  @media screen and (max-width: 880px) {
    .c-map {
      margin-bottom: 30px; } }
.c-medarbetare {
  float: left;
  height: 250px;
  margin-bottom: 30px;
  padding: 0 15px;
  position: relative;
  width: 25%; }
  @media screen and (max-width: 1100px) {
    .c-medarbetare {
      width: 33.33333%; } }
  @media screen and (max-width: 700px) {
    .c-medarbetare {
      width: 50%; } }
  @media screen and (max-width: 500px) {
    .c-medarbetare {
      width: 100%; } }
  .c-medarbetare__image {
    height: inherit;
    left: -50%;
    position: relative; }
  .c-medarbetare__image-wrapper {
    display: inline-block;
    height: inherit;
    position: relative;
    right: -50%; }
  .c-medarbetare__info {
    background-color: rgba(255, 255, 255, 0.97);
    bottom: 0;
    left: 0;
    position: absolute;
    padding: 10px;
    right: 0; }
  .c-medarbetare__link {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    display: block;
    height: inherit;
    overflow: hidden;
    position: relative; }
  .c-medarbetare__name {
    color: #333;
    margin-bottom: 0;
    text-align: left; }
  .c-medarbetare__tagline {
    color: #777;
    font-size: 14px;
    margin-bottom: 0;
    text-align: left; }
.c-medarbetare-details {
  margin-bottom: 50px;
  min-height: 500px; }
  @media screen and (max-width: 880px) {
    .c-medarbetare-details {
      margin-bottom: 30px; } }
  @media screen and (max-width: 650px) {
    .c-medarbetare-details {
      min-height: unset; } }
  .c-medarbetare-details__content {
    margin-left: auto;
    margin-right: auto;
    max-width: 840px;
    padding-left: 30px;
    padding-right: 30px;
    padding-left: 360px;
    position: relative; }
    @media screen and (max-width: 405px) {
      .c-medarbetare-details__content {
        padding-left: 20px;
        padding-right: 20px; } }
    @media screen and (max-width: 650px) {
      .c-medarbetare-details__content {
        padding-left: 30px; } }
    @media screen and (max-width: 405px) {
      .c-medarbetare-details__content {
        padding-left: 20px; } }
    .c-medarbetare-details__content blockquote {
      padding-bottom: 20px;
      padding-top: 20px; }
      .c-medarbetare-details__content blockquote p {
        border-left: 1px solid #c6c4b4;
        color: #999;
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 20px; }
        @media screen and (max-width: 405px) {
          .c-medarbetare-details__content blockquote p {
            margin-left: 10px;
            margin-right: 0;
            padding-left: 20px; } }
  .c-medarbetare-details__image-placeholder {
    display: block;
    height: 500px;
    left: 30px;
    overflow: hidden;
    position: absolute;
    top: -10px;
    width: 300px; }
    @media screen and (max-width: 650px) {
      .c-medarbetare-details__image-placeholder {
        height: 370px;
        left: auto;
        position: relative;
        top: auto;
        width: auto;
        margin-left: -30px;
        margin-right: -30px; } }
    @media screen and (max-width: 405px) {
      .c-medarbetare-details__image-placeholder {
        height: 250px;
        margin-left: -20px;
        margin-right: -20px; } }
  .c-medarbetare-details__image-wrapper {
    display: inline-block;
    height: inherit;
    position: relative;
    right: -50%; }
  .c-medarbetare-details__image {
    height: inherit;
    left: -50%;
    position: relative; }
  .c-medarbetare-details__name {
    font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeueW01-Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 40px;
    font-style: normal;
    color: #333;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
    text-align: left; }
    @media screen and (max-width: 650px) {
      .c-medarbetare-details__name {
        margin-top: 30px;
        text-align: center; } }
  .c-medarbetare-details__tagline {
    font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeueW01-Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 26px;
    font-style: normal;
    color: #f05d1a;
    margin-bottom: 30px;
    text-align: left; }
    @media screen and (max-width: 650px) {
      .c-medarbetare-details__tagline {
        text-align: center; } }
.c-medarbetare-list {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px; }
  .c-medarbetare-list:after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (max-width: 405px) {
    .c-medarbetare-list {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (max-width: 1240px) {
    .c-medarbetare-list {
      padding-bottom: 10px; } }
  @media screen and (max-width: 405px) {
    .c-medarbetare-list {
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px; } }
.c-menu {
  height: 62px; }
  .c-menu:after {
    clear: both;
    content: "";
    display: block; }
  .c-menu__item {
    float: left;
    margin: 0 5px; }
    @media screen and (max-width: 550px) {
      .c-menu__item {
        display: none; } }
  .c-menu__link {
    color: #777;
    display: inline-block;
    padding: 20px 5px;
    position: relative;
    transition: color 0.2s; }
    .c-menu__link:after {
      background-color: #f37f4a;
      border-radius: 1px;
      bottom: -2px;
      content: "";
      height: 0;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      transition: all 0.2s; }
    .c-menu__link.is-active {
      color: #333; }
      .c-menu__link.is-active:after {
        height: 3px;
        opacity: 1; }
    .c-menu__link:focus, .c-menu__link:hover {
      color: #333;
      text-decoration: none; }
      .c-menu__link:focus:after, .c-menu__link:hover:after {
        height: 3px;
        opacity: 1; }
  .c-menu.is-open {
    position: fixed;
    right: 20px;
    top: 10px;
    border: 1px solid #c6c4b4;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.97);
    height: auto;
    min-width: 200px;
    padding: 40px 0 10px 0;
    z-index: 110; }
    @media screen and (max-width: 405px) {
      .c-menu.is-open {
        right: 10px; } }
    .c-menu.is-open .c-menu__item {
      display: block;
      float: none;
      margin: 5px 0; }
    .c-menu.is-open .c-menu__link {
      display: block;
      padding: 5px 20px; }
      .c-menu.is-open .c-menu__link:after {
        bottom: 0;
        left: -2px;
        height: auto;
        right: auto;
        top: 0;
        width: 0; }
      .c-menu.is-open .c-menu__link.is-active:after {
        opacity: 1;
        width: 3px; }
      .c-menu.is-open .c-menu__link:focus:after, .c-menu.is-open .c-menu__link:hover:after {
        opacity: 1;
        width: 3px; }
.c-menu-background {
  background-color: #fff;
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.2s;
  z-index: 90; }
  .c-menu-background.is-active {
    display: block;
    opacity: 0.7; }
.c-menu-button {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #777;
  display: none;
  line-height: 1.5;
  padding: 20px 5px;
  position: relative;
  transition: color 0.2s;
  z-index: 120; }
  @media screen and (max-width: 550px) {
    .c-menu-button {
      display: inline-block; } }
  .c-menu-button:hover {
    color: #333;
    text-decoration: none; }
@-moz-keyframes menu-appear {
  0% {
    opacity: 0;
    -moz-transform: translateY(-80px);
    transform: translateY(-80px); }
  40% {
    -moz-transform: translateY(30px);
    transform: translateY(30px); }
  60% {
    -moz-transform: translateY(-20px);
    transform: translateY(-20px); }
  80% {
    -moz-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0px);
    transform: translateY(0px); } }
@-o-keyframes menu-appear {
  0% {
    opacity: 0;
    -o-transform: translateY(-80px);
    transform: translateY(-80px); }
  40% {
    -o-transform: translateY(30px);
    transform: translateY(30px); }
  60% {
    -o-transform: translateY(-20px);
    transform: translateY(-20px); }
  80% {
    -o-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    opacity: 1;
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@-webkit-keyframes menu-appear {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px); }
  40% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  60% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  80% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
@keyframes menu-appear {
  0% {
    opacity: 0;
    transform: translateY(-80px); }
  40% {
    transform: translateY(30px); }
  60% {
    transform: translateY(-20px); }
  80% {
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
  .c-menu-button--floating {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    color: white;
    height: 40px;
    position: fixed;
    right: 15px;
    top: 12px;
    width: 40px;
    -moz-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -moz-animation-name: menu-appear;
    -o-animation-name: menu-appear;
    -webkit-animation-name: menu-appear;
    animation-name: menu-appear;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
    .c-menu-button--floating:hover {
      background-color: rgba(0, 0, 0, 0.5); }
    .c-menu-button--floating .c-menu-button__text {
      display: none; }
    .c-menu-button--floating .c-menu-button__icon {
      background: white;
      top: -17px; }
      .c-menu-button--floating .c-menu-button__icon:before, .c-menu-button--floating .c-menu-button__icon:after {
        background: white; }
  .c-menu-button__text {
    color: #777;
    display: inline-block;
    opacity: 1; }
  .c-menu-button__icon {
    background: #777;
    border-radius: 1px;
    display: inline-block;
    height: 2px;
    margin-left: 5px;
    position: relative;
    top: -5px;
    width: 20px; }
    .c-menu-button__icon:before, .c-menu-button__icon:after {
      background: #777;
      border-radius: 1px;
      content: "";
      display: inline-block;
      height: 2px;
      left: 0;
      position: absolute;
      width: 20px; }
    .c-menu-button__icon:before {
      top: 5px; }
    .c-menu-button__icon:after {
      top: -5px; }
  .c-menu-button.is-open {
    background-color: transparent; }
    .c-menu-button.is-open .c-menu-button__text {
      opacity: 0; }
    .c-menu-button.is-open .c-menu-button__icon {
      background: #777; }
      .c-menu-button.is-open .c-menu-button__icon:before, .c-menu-button.is-open .c-menu-button__icon:after {
        background: #777; }
.c-nyhet {
  float: left;
  height: 250px;
  margin-bottom: 30px;
  padding: 0 15px;
  position: relative;
  width: 50%; }
  @media screen and (max-width: 500px) {
    .c-nyhet {
      width: 100%; } }
  .c-nyhet--small {
    height: 65px;
    width: 16.66667%; }
    @media screen and (max-width: 500px) {
      .c-nyhet--small {
        width: 33.33333%; } }
    .c-nyhet--small .c-nyhet__info {
      display: none; }
  .c-nyhet__image {
    height: inherit;
    left: -50%;
    position: relative; }
  .c-nyhet__image-wrapper {
    display: inline-block;
    height: inherit;
    position: relative;
    right: -50%; }
  .c-nyhet__info {
    background-color: rgba(255, 255, 255, 0.97);
    bottom: 0;
    left: 0;
    position: absolute;
    padding: 10px;
    right: 0; }
  .c-nyhet__link {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    display: block;
    height: inherit;
    overflow: hidden;
    position: relative; }
  .c-nyhet__heading {
    color: #333;
    margin-bottom: 0;
    text-align: left; }
  .c-nyhet__time {
    color: #777;
    font-size: 14px;
    margin-bottom: 0;
    text-align: left; }
.c-nyhet-details {
  margin-bottom: 50px; }
  @media screen and (max-width: 700px) {
    .c-nyhet-details {
      margin-bottom: 30px; } }
  .c-nyhet-details__header {
    margin-left: auto;
    margin-right: auto;
    max-width: 660px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px; }
    @media screen and (max-width: 405px) {
      .c-nyhet-details__header {
        margin-bottom: 20px;
        text-align: center; } }
  .c-nyhet-details__time {
    font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeueW01-Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    font-style: normal;
    color: #777;
    display: inline-block;
    background-image: url(/images/icons/time.png);
    background-image: -webkit-image-set(url(/images/icons/time.png) 1x, url(/images/icons/time@2x.png) 2x);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 12px;
    padding-left: 20px; }
  .c-nyhet-details__content blockquote {
    margin-left: auto;
    margin-right: auto;
    max-width: 660px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    position: relative; }
    @media screen and (max-width: 405px) {
      .c-nyhet-details__content blockquote {
        padding-bottom: 20px;
        padding-top: 20px; } }
    .c-nyhet-details__content blockquote p {
      border-left: 1px solid #c6c4b4;
      color: #999;
      margin-left: 30px;
      margin-right: 30px;
      padding-left: 30px; }
      @media screen and (max-width: 405px) {
        .c-nyhet-details__content blockquote p {
          margin-left: 10px;
          margin-right: 0;
          padding-left: 20px; } }
  .c-nyhet-details__content h2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 660px;
    padding-left: 20px;
    padding-right: 20px;
    color: #777;
    font-size: 24px;
    margin-bottom: 12px;
    margin-top: 24px; }
  .c-nyhet-details__content h3 {
    margin-left: auto;
    margin-right: auto;
    max-width: 660px;
    padding-left: 20px;
    padding-right: 20px; }
  .c-nyhet-details__content img {
    margin-bottom: 30px;
    margin-top: 30px;
    max-width: 100%; }
    .c-nyhet-details__content img.float-left {
      float: left;
      margin-bottom: 0;
      margin-left: -30px;
      margin-right: 30px;
      margin-top: 0;
      width: 50%; }
      @media screen and (max-width: 550px) {
        .c-nyhet-details__content img.float-left {
          float: none;
          margin-left: -20px;
          margin-right: -20px;
          max-width: none;
          width: 120%;
          width: calc(100% + 40px); } }
  .c-nyhet-details__content p {
    margin-left: auto;
    margin-right: auto;
    max-width: 660px;
    padding-left: 20px;
    padding-right: 20px; }
  .c-nyhet-details__content ul {
    margin-left: auto;
    margin-right: auto;
    max-width: 660px;
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
    margin-bottom: 10px; }
    .c-nyhet-details__content ul li {
      margin-left: 30px;
      text-indent: -10px; }
      .c-nyhet-details__content ul li:before {
        color: #333;
        content: "–";
        left: -10px;
        position: relative; }
.c-nyhet-list {
  margin-left: auto;
  margin-right: auto;
  max-width: 660px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px; }
  .c-nyhet-list:after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (max-width: 1240px) {
    .c-nyhet-list {
      padding-bottom: 10px; } }
  @media screen and (max-width: 405px) {
    .c-nyhet-list {
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px; } }
.c-post {
  margin-bottom: 50px;
  margin-top: 70px; }
  @media screen and (max-width: 700px) {
    .c-post {
      margin-bottom: 30px;
      margin-top: 50px; } }
  @media screen and (max-width: 405px) {
    .c-post {
      margin-top: 30px; } }
  .c-post__header {
    margin-left: auto;
    margin-right: auto;
    max-width: 660px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
    padding-left: 110px;
    position: relative; }
    @media screen and (max-width: 405px) {
      .c-post__header {
        margin-bottom: 20px;
        padding-left: 20px;
        text-align: center; } }
  .c-post__author-image {
    bottom: -40px;
    left: -30px;
    position: absolute;
    width: 120px; }
    @media screen and (max-width: 405px) {
      .c-post__author-image {
        bottom: auto;
        left: auto;
        margin-bottom: 20px;
        position: relative; } }
  .c-post__authors {
    font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeueW01-Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    font-style: normal;
    color: #777;
    display: inline-block;
    background-image: url(/images/icons/author.png);
    background-image: -webkit-image-set(url(/images/icons/author.png) 1x, url(/images/icons/author@2x.png) 2x);
    background-position: 1px 2px;
    background-repeat: no-repeat;
    background-size: 10px;
    margin-right: 10px;
    padding-left: 20px; }
  .c-post__time {
    font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeueW01-Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    font-style: normal;
    color: #777;
    display: inline-block;
    background-image: url(/images/icons/time.png);
    background-image: -webkit-image-set(url(/images/icons/time.png) 1x, url(/images/icons/time@2x.png) 2x);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 12px;
    margin-right: 10px;
    padding-left: 20px; }
  .c-post__content > :first-child {
    text-indent: 90px; }
  @media screen and (max-width: 405px) {
    .c-post__content > :first-child {
      text-indent: 0; } }
  .c-post__content blockquote {
    margin-left: auto;
    margin-right: auto;
    max-width: 660px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    position: relative; }
    @media screen and (max-width: 405px) {
      .c-post__content blockquote {
        padding-bottom: 20px;
        padding-top: 20px; } }
    .c-post__content blockquote p {
      border-left: 1px solid #c6c4b4;
      color: #999;
      margin-left: 30px;
      margin-right: 30px;
      padding-left: 30px; }
      @media screen and (max-width: 405px) {
        .c-post__content blockquote p {
          margin-left: 10px;
          margin-right: 0;
          padding-left: 20px; } }
  .c-post__content h2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 660px;
    padding-left: 20px;
    padding-right: 20px;
    color: #777;
    font-size: 24px;
    margin-bottom: 12px;
    margin-top: 24px; }
  .c-post__content h3 {
    margin-left: auto;
    margin-right: auto;
    max-width: 660px;
    padding-left: 20px;
    padding-right: 20px; }
  .c-post__content img {
    margin-bottom: 30px;
    margin-top: 30px;
    max-width: 100%; }
    .c-post__content img.float-left {
      float: left;
      margin-bottom: 0;
      margin-left: -30px;
      margin-right: 30px;
      margin-top: 0;
      width: 50%; }
      @media screen and (max-width: 550px) {
        .c-post__content img.float-left {
          float: none;
          margin-left: -20px;
          margin-right: -20px;
          max-width: none;
          width: 120%;
          width: calc(100% + 40px); } }
  .c-post__content p {
    margin-left: auto;
    margin-right: auto;
    max-width: 660px;
    padding-left: 20px;
    padding-right: 20px; }
  .c-post__content ul {
    margin-left: auto;
    margin-right: auto;
    max-width: 660px;
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
    margin-bottom: 10px; }
    .c-post__content ul li {
      margin-left: 30px;
      text-indent: -10px; }
      .c-post__content ul li:before {
        color: #333;
        content: "–";
        left: -10px;
        position: relative; }
.c-post-nav {
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeueW01-Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  max-width: 660px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #c6c4b4;
  margin-bottom: 30px; }
  .c-post-nav:after {
    clear: both;
    content: "";
    display: block; }
  .c-post-nav__prev {
    border-right: 1px solid #c6c4b4;
    display: block;
    float: left;
    overflow: hidden;
    padding: 23px 20px 20px 0;
    text-align: left;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%; }
    .c-post-nav__prev:last-child:first-child {
      border-right: 0;
      width: 100%; }
    @media screen and (max-width: 405px) {
      .c-post-nav__prev {
        border-bottom: 1px solid #f2f2ee;
        border-right: 0;
        float: none;
        width: 100%; }
        .c-post-nav__prev:last-child:first-child {
          border-bottom: 0; } }
  .c-post-nav__next {
    display: block;
    float: right;
    overflow: hidden;
    padding: 23px 0 20px 20px;
    text-align: right;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%; }
    .c-post-nav__next:last-child:first-child {
      width: 100%; }
    @media screen and (max-width: 405px) {
      .c-post-nav__next {
        float: none;
        width: 100%; } }
.c-projekt {
  margin-left: auto;
  margin-right: auto;
  max-width: 840px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 50px; }
  .c-projekt:after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (max-width: 405px) {
    .c-projekt {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (max-width: 550px) {
    .c-projekt {
      margin-bottom: 30px;
      padding-left: 0;
      padding-right: 0; } }
  .c-projekt__image-container {
    display: block;
    float: left;
    margin-right: 30px; }
    @media screen and (max-width: 550px) {
      .c-projekt__image-container {
        float: none;
        margin-right: 0;
        margin-bottom: 20px; } }
  .c-projekt__image {
    width: 300px; }
    @media screen and (max-width: 650px) {
      .c-projekt__image {
        width: 200px; } }
    @media screen and (max-width: 550px) {
      .c-projekt__image {
        width: 100%; } }
  .c-projekt__content {
    overflow: hidden;
    _overflow: visible;
    zoom: 1; }
    @media screen and (max-width: 550px) {
      .c-projekt__content {
        padding-left: 30px;
        padding-right: 30px; } }
    @media screen and (max-width: 405px) {
      .c-projekt__content {
        padding-left: 20px;
        padding-right: 20px; } }
.c-section-header {
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeueW01-Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 26px;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  max-width: 840px;
  padding-left: 30px;
  padding-right: 30px;
  color: #777;
  line-height: 1.4;
  margin-bottom: 30px;
  position: relative;
  text-align: center; }
  @media screen and (max-width: 405px) {
    .c-section-header {
      padding-left: 20px;
      padding-right: 20px; } }
  .c-section-header span {
    background-color: #fff;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px; }
  .c-section-header:before {
    border-top: 1px solid #c6c4b4;
    content: "";
    left: 30px;
    position: absolute;
    right: 30px;
    top: 0.7em;
    z-index: -1; }
    @media screen and (max-width: 405px) {
      .c-section-header:before {
        left: 20px;
        right: 20px; } }
  .c-section-header--big {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px; }
    @media screen and (max-width: 405px) {
      .c-section-header--big {
        padding-left: 20px;
        padding-right: 20px; } }
    .c-section-header--big:before {
      left: 30px;
      right: 30px; }
      @media screen and (max-width: 405px) {
        .c-section-header--big:before {
          left: 20px;
          right: 20px; } }
.c-social {
  margin-top: 25px; }
  .c-social__item {
    display: inline-block;
    margin-right: 5px; }
    .c-social__item:last-child {
      margin-right: 0; }
  .c-social__icon {
    height: 35px;
    opacity: 0.2;
    transition: opacity 0.2s;
    width: 35px; }
    .c-social__icon:hover {
      opacity: 0.5; }
    .c-social__icon:active {
      opacity: 0.8; }
.c-jobb {
  float: left; }
  .c-jobb--size-1 {
    width: 100%; }
  .c-jobb--size-2 {
    width: 50%; }
  .c-jobb--size-3 {
    width: 33.33333%; }
  .c-jobb--size-4 {
    width: 25%; }
  .c-jobb--size-5 {
    width: 20%; }
  .c-jobb--size-6 {
    width: 16.66667%; }
  .c-jobb--size-7 {
    width: 14.28571%; }
  .c-jobb--size-8 {
    width: 12.5%; }
  .c-jobb--size-9 {
    width: 11.11111%; }
  .c-jobb--size-10 {
    width: 10%; }
  @media screen and (max-width: 650px) {
    .c-jobb {
      background-color: #f2f2ee;
      float: none;
      margin-top: 30px;
      width: 100%; } }
  .c-jobb--active .c-jobb__content-wrapper {
    opacity: 1; }
  .c-jobb__content-wrapper {
    opacity: 0;
    padding: 50px 30px;
    transition: all 0.5s; }
    .c-jobb__content-wrapper:after {
      clear: both;
      content: "";
      display: block; }
    @media screen and (max-width: 650px) {
      .c-jobb__content-wrapper {
        opacity: 1;
        padding: 0 30px 30px; }
        .c-jobb__content-wrapper h3 {
          margin-bottom: 30px; } }
.c-jobb-avatar {
  position: absolute;
  text-align: center;
  top: -170px; }
  @media screen and (max-width: 650px) {
    .c-jobb-avatar {
      position: inherit;
      text-align: left; } }
  .c-jobb-avatar img {
    transition: transform 0.2s; }
    @media screen and (max-width: 650px) {
      .c-jobb-avatar img {
        float: right;
        margin-top: -15px;
        margin-left: 30px;
        margin-right: 30px; } }
  .c-jobb-avatar:focus, .c-jobb-avatar:hover {
    text-decoration: none; }
    .c-jobb-avatar:focus img, .c-jobb-avatar:hover img {
      -moz-transform: scale(1.1) translateY(-5px);
      -ms-transform: scale(1.1) translateY(-5px);
      -o-transform: scale(1.1) translateY(-5px);
      -webkit-transform: scale(1.1) translateY(-5px);
      transform: scale(1.1) translateY(-5px); }
    .c-jobb-avatar:focus .c-jobb-avatar__name, .c-jobb-avatar:hover .c-jobb-avatar__name {
      color: #333; }
  .c-jobb-avatar__name {
    font-size: 16px;
    margin-top: 10px; }
    @media screen and (max-width: 650px) {
      .c-jobb-avatar__name {
        color: #f05d1a;
        display: inline-block;
        font-size: 22px;
        margin-left: 30px;
        margin-top: 35px; } }
.c-jobb-list {
  background-color: #f2f2ee;
  margin-bottom: 50px;
  margin-top: 220px; }
  @media screen and (max-width: 880px) {
    .c-jobb-list {
      margin-bottom: 30px; } }
  @media screen and (max-width: 650px) {
    .c-jobb-list {
      background-color: #fff;
      margin-top: 0; } }
  .c-jobb-list--active-0 .c-jobb-list__active-indicator {
    transform: translateX(0%); }
  .c-jobb-list--active-0 .c-jobb__content-wrapper {
    transform: translateX(0%); }
    @media screen and (max-width: 650px) {
      .c-jobb-list--active-0 .c-jobb__content-wrapper {
        transform: translateX(0); } }
  .c-jobb-list--active-1 .c-jobb-list__active-indicator {
    transform: translateX(100%); }
  .c-jobb-list--active-1 .c-jobb__content-wrapper {
    transform: translateX(-100%); }
    @media screen and (max-width: 650px) {
      .c-jobb-list--active-1 .c-jobb__content-wrapper {
        transform: translateX(0); } }
  .c-jobb-list--active-2 .c-jobb-list__active-indicator {
    transform: translateX(200%); }
  .c-jobb-list--active-2 .c-jobb__content-wrapper {
    transform: translateX(-200%); }
    @media screen and (max-width: 650px) {
      .c-jobb-list--active-2 .c-jobb__content-wrapper {
        transform: translateX(0); } }
  .c-jobb-list--active-3 .c-jobb-list__active-indicator {
    transform: translateX(300%); }
  .c-jobb-list--active-3 .c-jobb__content-wrapper {
    transform: translateX(-300%); }
    @media screen and (max-width: 650px) {
      .c-jobb-list--active-3 .c-jobb__content-wrapper {
        transform: translateX(0); } }
  .c-jobb-list--active-4 .c-jobb-list__active-indicator {
    transform: translateX(400%); }
  .c-jobb-list--active-4 .c-jobb__content-wrapper {
    transform: translateX(-400%); }
    @media screen and (max-width: 650px) {
      .c-jobb-list--active-4 .c-jobb__content-wrapper {
        transform: translateX(0); } }
  .c-jobb-list--active-5 .c-jobb-list__active-indicator {
    transform: translateX(500%); }
  .c-jobb-list--active-5 .c-jobb__content-wrapper {
    transform: translateX(-500%); }
    @media screen and (max-width: 650px) {
      .c-jobb-list--active-5 .c-jobb__content-wrapper {
        transform: translateX(0); } }
  .c-jobb-list--active-6 .c-jobb-list__active-indicator {
    transform: translateX(600%); }
  .c-jobb-list--active-6 .c-jobb__content-wrapper {
    transform: translateX(-600%); }
    @media screen and (max-width: 650px) {
      .c-jobb-list--active-6 .c-jobb__content-wrapper {
        transform: translateX(0); } }
  .c-jobb-list--active-7 .c-jobb-list__active-indicator {
    transform: translateX(700%); }
  .c-jobb-list--active-7 .c-jobb__content-wrapper {
    transform: translateX(-700%); }
    @media screen and (max-width: 650px) {
      .c-jobb-list--active-7 .c-jobb__content-wrapper {
        transform: translateX(0); } }
  .c-jobb-list--active-8 .c-jobb-list__active-indicator {
    transform: translateX(800%); }
  .c-jobb-list--active-8 .c-jobb__content-wrapper {
    transform: translateX(-800%); }
    @media screen and (max-width: 650px) {
      .c-jobb-list--active-8 .c-jobb__content-wrapper {
        transform: translateX(0); } }
  .c-jobb-list--active-9 .c-jobb-list__active-indicator {
    transform: translateX(900%); }
  .c-jobb-list--active-9 .c-jobb__content-wrapper {
    transform: translateX(-900%); }
    @media screen and (max-width: 650px) {
      .c-jobb-list--active-9 .c-jobb__content-wrapper {
        transform: translateX(0); } }
  .c-jobb-list--active-10 .c-jobb-list__active-indicator {
    transform: translateX(1000%); }
  .c-jobb-list--active-10 .c-jobb__content-wrapper {
    transform: translateX(-1000%); }
    @media screen and (max-width: 650px) {
      .c-jobb-list--active-10 .c-jobb__content-wrapper {
        transform: translateX(0); } }
  .c-jobb-list__outer-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 840px;
    padding-left: 30px;
    padding-right: 30px;
    padding-left: 0;
    padding-right: 0;
    position: relative; }
    @media screen and (max-width: 405px) {
      .c-jobb-list__outer-wrapper {
        padding-left: 20px;
        padding-right: 20px; } }
    @media screen and (max-width: 405px) {
      .c-jobb-list__outer-wrapper {
        padding-left: 0;
        padding-right: 0; } }
  .c-jobb-list__inner-wrapper:after {
    clear: both;
    content: "";
    display: block; }
  .c-jobb-list__inner-wrapper--size-0 {
    width: 0%; }
  .c-jobb-list__inner-wrapper--size-1 {
    width: 100%; }
  .c-jobb-list__inner-wrapper--size-2 {
    width: 200%; }
  .c-jobb-list__inner-wrapper--size-3 {
    width: 300%; }
  .c-jobb-list__inner-wrapper--size-4 {
    width: 400%; }
  .c-jobb-list__inner-wrapper--size-5 {
    width: 500%; }
  .c-jobb-list__inner-wrapper--size-6 {
    width: 600%; }
  .c-jobb-list__inner-wrapper--size-7 {
    width: 700%; }
  .c-jobb-list__inner-wrapper--size-8 {
    width: 800%; }
  .c-jobb-list__inner-wrapper--size-9 {
    width: 900%; }
  .c-jobb-list__inner-wrapper--size-10 {
    width: 1000%; }
  @media screen and (max-width: 650px) {
    .c-jobb-list__inner-wrapper {
      width: auto !important; } }
  .c-jobb-list__active-indicator {
    background-color: #f2f2ee;
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.5s; }
    @media screen and (max-width: 650px) {
      .c-jobb-list__active-indicator {
        display: none; } }
    .c-jobb-list__active-indicator:after {
      border: solid transparent;
      border-bottom-color: #f2f2ee;
      border-width: 30px;
      bottom: 100%;
      content: " ";
      height: 0;
      left: 50%;
      margin-left: -30px;
      position: absolute;
      width: 0; }
/*! sass-bem-constructor - version : 1.1.0 - 2016-08-18 */
.u-float-right {
  float: right; }
.u-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 840px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative; }
  .u-wrapper:after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (max-width: 405px) {
    .u-wrapper {
      padding-left: 20px;
      padding-right: 20px; } }
.u-wrapper-big {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative; }
  .u-wrapper-big:after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (max-width: 405px) {
    .u-wrapper-big {
      padding-left: 20px;
      padding-right: 20px; } }
.u-wrapper-small {
  margin-left: auto;
  margin-right: auto;
  max-width: 660px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative; }
  .u-wrapper-small:after {
    clear: both;
    content: "";
    display: block; }
.highlight {
  background-color: #f2f2ee;
  margin-bottom: 30px;
  margin-top: 30px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  .highlight code {
    background-color: transparent;
    border-radius: 0;
    direction: ltr;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    line-height: 1.4;
    padding: 0;
    -moz-tab-size: 3;
    -o-tab-size: 3;
    tab-size: 3;
    text-align: left;
    white-space: pre;
    word-break: normal;
    word-spacing: normal; }
  .highlight pre {
    margin-left: auto;
    margin-right: auto;
    max-width: 660px;
    padding: 20px; }
    @media screen and (max-width: 740px) and (min-width: 406px) {
      .highlight pre.line-numbers[class*=language] {
        max-width: 620px;
        padding-left: 60px; } }
    @media screen and (min-width: 405px) {
      .highlight pre.line-numbers[class*=language] {
        counter-reset: linenumber;
        position: relative; }
        .highlight pre.line-numbers[class*=language] > code {
          position: relative; }
        .highlight pre.line-numbers[class*=language] .line-numbers-rows {
          border-right: 1px solid #c6c4b4;
          font-size: 100%;
          left: -40px;
          letter-spacing: -1px;
          position: absolute;
          pointer-events: none;
          top: 0;
          width: 30px;
          -moz-user-select: none;
          -ms-user-select: none;
          -webkit-user-select: none;
          user-select: none; }
          .highlight pre.line-numbers[class*=language] .line-numbers-rows > span {
            counter-increment: linenumber;
            display: block;
            pointer-events: none; }
            .highlight pre.line-numbers[class*=language] .line-numbers-rows > span:before {
              content: counter(linenumber);
              color: #999;
              display: block;
              padding-right: 0.8em;
              text-align: right; }
            .highlight pre.line-numbers[class*=language] .line-numbers-rows > span:last-child {
              display: none; } }
  .highlight .token.comment,
  .highlight .token.prolog,
  .highlight .token.doctype,
  .highlight .token.cdata {
    color: slategray; }
  .highlight .token.punctuation {
    color: #999; }
  .highlight .namespace {
    opacity: .7; }
  .highlight .token.property,
  .highlight .token.tag,
  .highlight .token.boolean,
  .highlight .token.number,
  .highlight .token.constant,
  .highlight .token.symbol {
    color: #905; }
  .highlight .token.selector,
  .highlight .token.attr-name,
  .highlight .token.string,
  .highlight .token.builtin {
    color: #690; }
  .highlight .token.operator,
  .highlight .token.entity,
  .highlight .token.url,
  .highlight .language-css .token.string,
  .highlight .style .token.string,
  .highlight .token.variable {
    background: rgba(255, 255, 255, 0.5);
    color: #a67f59; }
  .highlight .token.atrule,
  .highlight .token.attr-value,
  .highlight .token.keyword {
    color: #07a; }
  .highlight .token.regex,
  .highlight .token.important {
    color: #e90; }
  .highlight .token.important {
    font-weight: bold; }
  .highlight .token.entity {
    cursor: help; }


td, th, input {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-size: 16px;
font-style: normal;
color: #333;
line-height: 1.4;
margin-bottom: 10px;
}
