---
layout: base
---

<h1>{{ page.heading }}</h1>

<p class="c-intro">{{ page.intro }}</p>

<div class="c-erbjudande-list">
	{% assign erbjudandeList = site.erbjudanden | sort: 'index' %}
	{% for erbjudande in erbjudandeList %}

	{% assign isOdd = forloop.index | modulo: 2 %}
	{% if isOdd == 1 %}<div class="c-erbjudande-list__row">{% endif %}
		<div class="c-erbjudande c-erbjudande--index{{ erbjudande.index }}">
			<div class="c-erbjudande__icon">
				<img alt="{{ erbjudande.heading }}" src="/images/erbjudanden/{{ erbjudande.image }}.png"
						srcset="/images/erbjudanden/{{ erbjudande.image }}@2x.png 2x">
			</div>
			<h2 class="c-erbjudande__heading">{{ erbjudande.heading }}</h2>
			{{ erbjudande.content }}
		</div>
	{% if isOdd != 1 %}</div>{% endif %}

	{% endfor %}
</div>

<h2 class="c-section-header"><span>Exempel på vad vi gör idag eller gjort tidigare</span></h2>

{% for projekt in site.projekt %}
<div class="c-projekt">
	<div class="c-projekt__image-container">
		<img alt="" class="c-projekt__image"
				src="/images/projekt/{{ projekt.image}}.jpg"
				srcset="/images/projekt/{{ projekt.image}}@2x.jpg 2x">
	</div>
	<div class="c-projekt__content">
		<h3>{{ projekt.heading }}</h3>
		{{ projekt.content | markdownify }}
		{% if projekt.link %}
		<p><a href="{{ projekt.link }}">{{ projekt.link }}</a></p>
		{% endif %}
	</div>
</div>
{% endfor %}

<h2 class="c-section-header"><span>Låter det intressant?</span></h2>

<div class="c-contact">
	<p>Ta kontakt med oss och berätta vad du vill ha hjälp med.</p>
	<p class="c-contact__button"><a class="c-button" href="mailto:sales@kits.se">Kontakta oss</a></p>
</div>
