---
layout: base
---

{% assign sections = page.content | split: '<!--section-->' %}

<h1>{{ page.heading }}</h1>

<p class="c-intro">{{ page.intro }}</p>

<div class="c-entrypoint">
	<div class="c-entrypoint__wrapper">
		<div class="c-entrypoint__column">
			{{ sections[0] | markdownify }}
			<p class="c-entrypoint__button">
				<a class="c-button" href="/erbjudanden">Läs mer om vad vi kan erbjuda</a>
			</p>
		</div>
		<div class="c-entrypoint__column">
			{{ sections[1] | markdownify }}
			<p class="c-entrypoint__button">
				<a class="c-button" href="/jobb">Läs mer om att jobba på KITS</a>
			</p>
		</div>
	</div>
</div>

<h2 class="c-section-header"><span>Senaste inlägg i bloggen</span></h2>

{% for post in site.categories.blogg limit:1 %}
{% include blogg_intro.html post=post %}
{% endfor %}

<h2 class="c-section-header"><span>Senaste nytt från KITS</span></h2>

<ul class="c-nyhet-list">
	{% for nyhet in site.categories.nyheter %}
	{% if forloop.index > 2 %}
	{% assign className = "c-nyhet--small" %}
	{% endif %}

	<li class="c-nyhet {{ className }}">
		<a class="c-nyhet__link" href="{{ nyhet.url }}">
			<div class="c-nyhet__image-wrapper">
				<img alt="" class="c-nyhet__image" src="/images/nyheter/{{ nyhet.image }}.jpg"
						srcset="/images/nyheter/{{ nyhet.image }}@2x.jpg 2x">
			</div>
			<div class="c-nyhet__info">
				<p class="c-nyhet__heading">{{ nyhet.heading }}</p>
				<time class="c-nyhet__time" datetime="{{ nyhet.date | date_to_xmlschema }}">
					{{ nyhet.date | date: "%-d M%m %Y" | replace: 'M01', 'januari' | replace: 'M02', 'februari' | replace: 'M03', 'mars' | replace: 'M04', 'april' | replace: 'M05', 'maj' | replace: 'M06', 'juni' | replace: 'M07', 'juli' | replace: 'M08', 'augusti' | replace: 'M09', 'september' | replace: 'M10', 'oktober' | replace: 'M11', 'november' | replace: 'M12', 'december'}}
				</time>
			</div>
		</a>
	</li>
	{% endfor %}
</ul>
