---
layout: base
---

{% assign jobbPage = site.pages | where: 'layout', 'jobb' | first %}

<h1>{{ jobbPage.heading }}</h1>

<p class="c-intro">{{ jobbPage.intro }}</p>

{% if page.uid %}
{% assign currentJobb = page %}
{% else %}
{% assign currentJobb = site.jobb | where: 'index', 1 | first %}
{% endif %}

{% assign size = site.jobb | size %}
{% assign width = 100 | divided_by: size %}
{% assign totalWidth = size | times: 100 %}

{% assign jobbList = site.jobb | sort: 'index' %}

{% for jobb in jobbList %}
{% if jobb.uid == currentJobb.uid %}
{% assign activeIndex = forloop.index0 %}
{% assign activeLeft = activeIndex | times: width %}
{% endif %}
{% endfor %}

<div id="js-jobb-list" class="c-jobb-list c-jobb-list--active-{{ activeIndex }}">
	<div class="c-jobb-list__outer-wrapper">
		<div class="c-jobb-list__inner-wrapper c-jobb-list__inner-wrapper--size-{{ size }}">

			<div class="c-jobb-list__active-indicator" style="width:{{ width }}%"></div>

			{% for jobb in jobbList %}
			{% assign index = forloop.index0 %}
			{% assign left = width | times: index %}

			{% if index == activeIndex %}
			{% assign jobbClassName = 'c-jobb--active' %}
			{% assign avatarClassName = 'c-jobb-avatar--active' %}
			{% else %}
			{% assign jobbClassName = '' %}
			{% assign avatarClassName = '' %}
			{% endif %}

			<div class="c-jobb {{ jobbClassName }} c-jobb--size-{{ size }}" data-index="{{ index }}">
				<a class="c-jobb-avatar {{ avatarClassName }}" data-index="{{ index }}" href="{{ jobb.url }}" style="width:{{ width }}%;left:{{ left }}%">
					<img alt="{{ jobb.name }}" class="c-jobb-avatar__image"
							src="/images/jobb/{{ jobb.image }}.png"
							srcset="/images/jobb/{{ jobb.image }}@2x.png 2x">
					<h3 class="c-jobb-avatar__name">{{ jobb.heading }}</h3>
				</a>
				<div class="c-jobb__content-wrapper">
					<div class="c-jobb__content">
						<h3>{{ jobb.intro }}</h3>
						{{ jobb.content | markdownify }}
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<h2 class="c-section-header"><span>Så här jobbar vi på KITS</span></h2>

{% assign inNoImage = false %}

{% assign formanList = site.formaner | sort: 'index' %}
{% for forman in formanList %}

{% if forman.image == null or forman.image == '' %}
{% assign className = 'c-forman--no-image' %}
{% else %}
{% assign className = '' %}
{% endif %}

{% if forman.image and forman.image != '' and inNoImage %}
</div></div>
{% assign inNoImage = false %}

{% elsif forman.image == null or forman.image == '' %}
{% if inNoImage == false %}
<div class="c-forman-list"><div class="c-forman-list__wrapper">
{% assign inNoImage = true %}
{% endif %}
{% endif %}

<div class="c-forman {{ className }}">
	{% if forman.image and forman.image != '' %}
	<div class="c-forman__image-container">
		<img alt="" class="c-forman__image"
				src="/images/formaner/{{ forman.image }}.jpg"
				srcset="/images/formaner/{{ forman.image }}@2x.jpg 2x">
	</div>
	{% endif %}
	<div class="c-forman__content">
		<h3>{{ forman.heading }}</h3>
		{{ forman.content | markdownify }}
	</div>
</div>
{% endfor %}

{% if inNoImage == true %}</div></div>{% endif %}

<h2 class="c-section-header"><span>Låter det intressant?</span></h2>

<div class="c-contact">
	<p>Ta kontakt med oss och berätta vem du är och vad du vill göra.</p>
	<p class="c-contact__button"><a class="c-button" href="mailto:jobb@kits.se">Kontakta oss</a></p>
</div>

<script>
	KITS.initializeJobb();
</script>
