---
layout: base
---

<h1>Nyheter</h1>

<p class="c-intro">Senaste nytt från KITS.</p>

<article class="c-nyhet-details">
	<header class="c-nyhet-details__header">
		<h2>{{ page.heading }}</h2>
		<div>
			<time class="c-nyhet-details__time" datetime="{{ page.date | date_to_xmlschema }}">
				{{ page.date | date: "%-d M%m %Y" | replace: 'M01', 'januari' | replace: 'M02', 'februari' | replace: 'M03', 'mars' | replace: 'M04', 'april' | replace: 'M05', 'maj' | replace: 'M06', 'juni' | replace: 'M07', 'juli' | replace: 'M08', 'augusti' | replace: 'M09', 'september' | replace: 'M10', 'oktober' | replace: 'M11', 'november' | replace: 'M12', 'december'}}
			</time>
			<span class="c-post__authors">
				{% for authorId in page.authors %}{% assign author = site.medarbetare | concat: site.medarbetare_old | where: "uid", authorId | first %}{% unless forloop.first %}, {% endunless %}{% if author.collection == 'medarbetare' %}<a href="/om/{{ authorId }}">{{ author.name }}</a>{% else %}{{ author.name }}{% endif %}{% endfor %}
			</span>

		</div>
	</header>

	<div class="c-nyhet-details__content">
		{% include content.html content=page.content %}
	</div>
</article>

{% for post in site.categories.nyheter %}
{% if post.url == page.url %}
    {% assign postIndex0 = forloop.index0 %}
	{% assign postIndex1 = forloop.index %}
{% endif %}
{% endfor %}

{% for post in site.categories.nyheter %}
{% if postIndex1 == forloop.index0 %}
	{% assign prevPost = post %}
{% endif %}
{% if postIndex0 == forloop.index %}
	{% assign nextPost = post %}
{% endif %}
{% endfor %}

{% if prevPost or nextPost %}
<nav class="c-post-nav">
	{% if prevPost %}
	<a class="c-post-nav__prev" href="{{ prevPost.url }}" rel="prev">&#8592; {{ prevPost.heading }}</a>
	{% endif %}
	{% if nextPost %}
	<a class="c-post-nav__next" href="{{ nextPost.url }}" rel="next">{{ nextPost.heading }} &#8594;</a>
	{% endif %}
</nav>
{% endif %}
