---
layout: base
---

<h1>{{ page.heading }}</h1>

<p class="c-intro">{{ page.intro }}</p>

<div class="c-map" id="js-map"></div>

<div class="c-columns">
	<div class="c-columns__first">
		{{ content }}
	</div>
	<div class="c-columns__second">
		{% for contact in site.data.kits.contacts %}

		{% assign medarbetare = site.medarbetare | where: 'uid', contact.uid | first %}
		{% assign phone = medarbetare.phone | remove: ' ' | remove: '-' | remove: '–' | remove_first: '0' %}

		<h3>{{ contact.role }}</h3>
		<p>
			{{ medarbetare.name }}<br>
			<a href="mailto:{{ medarbetare.email }}">{{ medarbetare.email }}</a><br>
			<a href="tel:+46{{ phone }}">{{ medarbetare.phone }}</a>
		</p>

		{% endfor %}
	</div>
</div>

<h2 class="c-section-header c-section-header--big"><span>Vi är KITS</span></h2>

{% include medarbetare_list.html %}

<script src="https://api.mapbox.com/mapbox-gl-js/v0.31.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v0.31.0/mapbox-gl.css" rel="stylesheet">

<script>
	KITS.initializeMaps();
</script>
